.advantages__title {
  margin: 0;
  margin-bottom: 27px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  counter-reset: section;
  list-style: none;
}

.advantages__item {
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .advantages {
    position: relative;
    margin-bottom: 27px;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 100vw;
      height: 1px;
      margin-left: -50vw;
      background-color: #e6e6e6;
    }
  }

  .advantages__list {
    display: flex;
    flex-direction: initial;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 17px;
  }

  .advantages__item {
    position: relative;
    flex-basis: 45%;
    margin-right: 6px;
    padding-top: 46px;
    padding-bottom: 66px;

    &::after {
      counter-increment: section;
      content: counter(section);
      z-index: -1;
      position: absolute;
      top: 7px;
      margin-left: 113px;
      font-family: @font-title;
      font-size: 281px;
      line-height: 281px;
      color: @bc-grey;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    margin-bottom: 6px;
  }

  .advantages__list {
    justify-content: flex-start;
  }

  .advantages__item {
    flex-basis: 245px;
    margin-right: 80px;
  }

  :nth-child(4n) {
    margin-right: 0;
  }
}
