.button {
  display: block;
  padding: 10px;

  font-size: 16px;
  line-height: 20px;
  font-family: @font-title;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: @color-white;
  background-color: @bc-green;
  border: none;
}
