.copyright__text {
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  color: @color-text;

  &:active {
    opacity: 0.3;
  }
}

.copyright__link {
  &:hover path {
    fill: @bc-green;
  }

  &:active path {
    fill: @bc-green;
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    margin-left: 20px;
  }
}
