.main-nav--closed {
  display: none;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.main-nav__item {
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: -20px;
  margin-right: -20px;
  border-top: 1px solid #e6e6e6;

  &:last-child {
    border-bottom: 1px solid #e6e6e6;
  }
}

.main-nav__link {
  position: relative;
  display: block;
  padding: 23px 0;
  font-family: @font-title;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: @color-black;
}

.main-nav__link--active {
  &::before {
    content: "";
    position: absolute;
    bottom: 8px;
    width: 100%;
    height: 2px;
    background-color: @bc-green;
  }
}


@media (min-width: @tablet-width) {
  .main-nav {
    margin-left: -25px;
  }

  .main-nav--closed {
    display: flex;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main-nav__item {
    margin-left: 36px;
    margin-right: 0;
    border: none;

    &:last-child {
      border-bottom: none;
    }

    &::after {
      display: none;
    }
  }

  .main-nav__link {
    position: relative;
    padding: 18px 0;
    font-family: @font-title;
    font-size: 18px;
    line-height: 24.86px;
    font-weight: 400;

    &:hover {
      color: @color-black-hover;
    }

    &:active {
      color: @color-black-active;
    }
  }

  .main-nav__link--active {
    &::before {
      content: "";
      position: absolute;
      bottom: 8px;
      width: 100%;
      height: 2px;
      background-color: @bc-green;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-nav__item {
    margin-left: 34px;
  }

  .main-nav__link {
    font-size: 20px;
  }

  .main-nav__link--white {
    color: @color-white;

    &:hover {
      color: @color-white;
      opacity: 0.6;
    }

    &:active {
      color: @color-white;
      opacity: 0.3;
    }
  }

  .main-nav__link--index-active {
    &::before {
      background-color: #ffffff;
    }
  }
}
