.main-nav {
  width: 100%;
}

.main-nav__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-nav__toggle {
  position: absolute;
  top: 12px;
  right: 22px;
  width: 24px;
  height: 18px;

  background-color: transparent;
  border: none;

  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
}

.page-header__logo {
  padding-bottom: 12;
  width: 191px;
}
