.product-catalog__item {
padding-bottom: 20px;
border-top: 1px solid #ededed;
}

.product-catalog__title {
font-family: @font-title;
.set-font-size (16px, 20px);
font-weight: 400;
text-transform: uppercase;
color: @color-title;
}

.product-catalog__info-wrapper {
.set-font-size (12px, 16px);
}
