.social__list {
  .list-reset();
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 130px;
}

.social__link {
  display: block;
}

.social__link--vkontakte {
  width: 22px;
  height: 12px;
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    width: 30px;
    height: 16px;
  }
}

.social__link--instagram {
  width: 16px;
  height: 16px;
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social__link--facebook {
  width: 10px;
  height: 19px;
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    width: 14px;
    height: 28px;
  }
}
