.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 17px;
  list-style: none;

  :last-child {
    margin-right: 0;
  }
}

.social__item {
  margin-right: 32px;
}

.social__link {
  width: 22px;
  display: block;
  fill: #666666;

  &:hover {
    fill: @bc-green;
  }
}

.social__icon:active {
  opacity: 0.3;
}

.social__icon {
  max-width: 100%;
}

@media (min-width: @tablet-width) {
  .social__list {
    flex-wrap: wrap;
    padding: 0;
  }

  .social__item {
    margin-right: 0;
    margin-left: 28px;
    margin-bottom: 5px;
  }

  .social__link {
    width: 32px;
    height: 23px;
  }

  .social__link--vkontakte {
    width: 30px;
    height: 16px;
  }

  .social__link--instagram {
    width: 23px;
    height: 23px;
  }

  .social__link--facebook {
    width: 14px;
    height: 28px;
  }

  .social__icon {
    width: 100%;
    height: 100%;
  }
}
