/*Шрифты*/
@font-title: "Oswald", "Arial Narrow", sans-serif;
@font-main: "Arial", "Helvetica", sans-serif;

/*Переменные разных версий сайта*/
@mobile-width: 320px;

/*Палитра*/
@bc-white: #ffffff;
@bc-green: #68b738;
@bc-gray: #f2f2f2;
@bc-black: #000000;
@color-title: #111111;
@color-title-extra: #222222;
@color-text: #444444;
@color-white: #ffffff;
